*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main.cart .aviso{
    background-color:#f76d02;
    color: white;
}
main.cart{
    z-index: -1;
    text-align: center;
    font-family: sans-serif;
}

main.cart .aviso li.carrito{
    color: black;
    opacity: 100%;
}
main.cart .aviso li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    opacity: 30%;
}

main.cart h2{
    margin: 20px;
}
main.cart h4{
    font-size: 20px;
    margin: 30px;
    display: flex;
    justify-content: flex-start;
}

main.cart article img{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

main.cart section.resumen{
    font-size: 20px;
    display: flex;
    flex-direction:column;
    margin: 30px;
}

main.cart section article.uno{
margin:10px;
display: flex;
justify-content: space-between;
}

main.cart section article.dos{
margin:10px;
display: flex;
justify-content: space-between;
}

main.cart section article.tres{
    margin:10px;
    display: flex;
justify-content: space-between;
    }
main.cart button{
    width: 100%;
    background-color: black;
    padding: 20px;
}


main.cart button a{
text-decoration: none;
color: white;
}

main.cart div.pago img{
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 50px;
    display: inline-block;
 
}

main.cart div h5{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    }

@media (min-width:768px){

main.cart .aviso{
    background-color:#f76d02;
    color: white;
    display: none;
}

main.cart h2{
    margin-top: 100px;
    font-size: 50px;
}
main.cart div h5{
    font-size: 20px;
  text-align: center;
}

main.cart div h4{
    font-size: 30px;
}

main.cart article img{
margin-bottom: 100px;
margin-top: 100px;
}

main.cart button{
    width: 50%;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-start;
}

main.cart button a{
 font-size: 12px;
 padding-left:100px;
    }

}