*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main.entrega .aviso{
    background-color:#f76d02;
    color: white;
    text-align: center;
}
main.entrega{
    z-index: -1;
    font-family: sans-serif;
}

main.entrega .aviso li.entrega{
    color: black;
    opacity: 100%;
}

main.entrega .aviso li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    opacity: 30%;
}

main.entrega h4{
    text-align: center;
    font-size: 20px;
margin-top: 30px;
}

main.entrega section.datos{
margin: 10px;
}

main.entrega section.datos article {
margin: 20px;
display: flex;
justify-content: flex-start;
}


main.entrega section.envio article{
margin: 20px;
display: flex;
justify-content: flex-start;
}

main.entrega div.sub{
margin-left: 30px;
}

main.entrega div.correo{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

main.entrega div.checkbox {
display: flex;
justify-content: flex-start;
margin-bottom: 10px;
}

main.entrega div.checkbox1 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

main.entrega button{
    width: 100%;
    background-color:black ;
    padding: 20px;
    margin-bottom: 50px;
    color: white;
}

main.entrega button a{
    text-decoration: none;
    color: white;
    }

main.entrega div.pago img{
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 50px;
    display: inline;

}
main.entrega div h5{
font-size: 20px;
margin-top: 30px;
margin-left: 30px;
}

@media (min-width:768px){
    main.entrega h4{
    margin-top: 50px;
    font-size: 30px;
    }

  











}