footer{
    background-color: black;
    width: 100%;
    padding: 10px;
  
<<<<<<< HEAD
  }
  
  footer div.redes{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  }
  
  footer div.texto{
=======
}

footer div.redes{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

footer div.texto{
>>>>>>> 271da81d4d5a7e1ee714c6d79d27c0d365ee19f6
   font-size: 10px;
   color:#fff;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
<<<<<<< HEAD
  }
  
  footer div.redes a{
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  color: black;
  }
=======
}

footer div.redes a{
background-color: white;
border-radius: 50%;
padding: 10px;
color: black;
}
>>>>>>> 271da81d4d5a7e1ee714c6d79d27c0d365ee19f6
