footer{
    background-color: black;
    padding: 10px;
}

footer div.redes{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

footer div.texto{
   font-size: 10px;
   color:#fff;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

footer div.redes a{
background-color: white;
border-radius: 50%;
padding: 10px;
color: black;
}

position: fixed;  bottom: 0;