header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}



header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: var(--color-azul);
}


header nav ul{
    display: inline;
    align-self: flex-end;
    margin-bottom: 15px;
}

header nav ul li{
    display: inline;
}

header nav div.search-bar{
    align-self: center;
}
