header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    font-family: var(--font-family);
}



header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: var(--color-azul);
}

header nav .img{
/*     background-color: var(--color-gris);
 */ 
    padding-right: 10px;
    order: 1;
    width: 100px;
    height: 50px;
}

header nav .img img{
    width: 95%;
}

header nav.logo-and-search{
    z-index: 0;
}


header nav label{
    align-self: center;
}

header  input[type="checkbox"]{
    display: none;
}

input[type=checkbox]:checked ~ nav.menu{
    display: inline;
    background-color: var(--color-naranja);
    z-index: 1;
}

header nav.menu ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    padding-bottom: 5px;
    margin-top: 3px;
}

header nav.menu ul li{
    margin-bottom: 5px;
}

header nav.menu ul li a{
    display: block;
    width: 100%;
    text-align: center;
}

header nav.menu{
    width: 33%;
    display: none;
    height: 105px;
}

header nav div.icon-burger{
    align-self: center;
    font-size: 40px;
    width: auto;
}

header nav ul li{
    margin: 0px 5px 0px;
    background-color: var(--color-gris);
    border: 1px solid var(--color-gris);
    border-radius: 5px;
    display: inline;
}

/*  header nav ul li:last-child{
    padding-bottom: 4px;
} */


header nav div.search-bar{
    order: 2;
    align-self: center;
    width: 33%;
}

header nav div.search-bar input{
    width: 100%;
} 
