.login{
    z-index: -1;
    background-color: var(--color-gris);
    font-family: var(--font-family);
}

.login main{
    width:100vw;
    height:100vh;
}

.login main .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 60px auto;
    width: 75%;
    height: 80%;
    background-color: var(--color-azul);
    box-shadow:  0px 0px 15px 3px var(--color-azul);
    border: transparent 1px solid;
    border-radius: 15px;
}

.login main .container .logo{
    width: 50%;
    align-self: center;
}