*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main.pago .aviso{
    background-color:#f76d02;
    color: white;
    text-align: center;
}
main.pago{
    z-index: -1;
}

main.pago .aviso li.pago{
    color: black;
    opacity: 100%;
}
main.pago .aviso li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    opacity: 30%;
}

main.pago h1{
    text-align: center;
    margin: 10px;
}

main.pago h5{
  margin: 20px;
  background-color: violet;
  display: flex;
  justify-content: flex-start;
}

main.pago section.form-pago div.cuotas p{
margin-bottom: 20px;
text-align: center;
}

main.pago section.form-pago div.cuotas{
    margin-bottom: 20px; 
}


main.pago section.form-pago{
    display: flex;
    flex-direction: column;
    margin: 10px ;
}

main.pago section.form-pago small{
    color: red;
    display:block;
}

main.pago section.form-pago input{
height: 30px;
}

main.pago button{
    width: 100%;
    background-color:black ;
    padding: 20px;
    margin-bottom: 50px;
}

main.pago button a{
    text-decoration: none;
    color: white;
    }

main.pago div.pago img{
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 50px;
}
main.pago div h4{
font-size: 20px;
margin-top: 30px;
text-align: center;
}