
  
    
  #codigob{
    
    width: 350px;
    height: 100px;
    
  
  }
  .registro{
    margin: 0;
    background: url(/imgregistro/fondoregistro2.jpg);
     background-size: cover;
     background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
  }
  
    .form-register {
      width: 750px;
      background: #f18547d2;
     padding:45px;
      margin-left: 50px;
      margin-top: 20px;
      border-radius: 24px;
      color:rgb(252, 247, 247);
      box-shadow: 7px 13px 37px rgb(8, 8, 8);
      
      
      
  
    
    }
    
    
    
    
    .form-register h4 {
      font-size: 55px;
      margin-bottom: 45px;
      text-align: center;
      color: gray;
      display: flex;
        justify-content: center;
  
    }
    /*controla input*/
    .controls {
      width: 100%;
      background:black;
      padding: 20px;
      border-radius: 4px;
      margin-top: 10px;
      margin-bottom: 5px;
      border: 1px solid #f0f1f3;
  
      font-size: 18px;
      color:black;
    }
    
    .form-register p {
      height: 50px;
      text-align: center;
      font-size: 12px;
      line-height: 40px;
      
    }
    
    .form-register a {
      color: rgb(247, 242, 242);
      text-decoration: none;
    }
    
    .form-register a:hover {
      color: rgb(124, 120, 120);
      text-decoration: underline;
    }
    label .registro1{
        color: gray;
        font-size: 35px;
        
    }
    
    
  .form-register .botons {
      width: 100%;
      background: #eff0f1;
      border: 15px;
      border-radius: 15px;
      padding:15px;
      color: rgb(10, 8, 8);
      margin: 16px 0;
      font-size: 16px;
    }
   
      
  
    @media (min-width: 768px) {
      /*registro*/
    #codigob{
        width: 350px;
        height: 100px;
      }
   
        
        .form-register {
          margin-top: 60px;
          margin-bottom: 20px;
          width: 450px;
          background: #f18547d2;
          box-shadow: 7px 13px 37px rgb(99, 96, 96);
        
        
        }
        
        
       
            
        }
        
        .form-register h4 {
          font-size: 55px;
          margin-bottom: 15px;
          text-align: center;
          color: gray;
        
      
        }
        
        .controls {
          width: 100%;
          background: #f6f8fa;
          padding: 10px;
          border-radius: 4px;
          margin-bottom: 6px;
          border: 1px solid #f0f1f3;
          font-size: 18px;
          color:black;
        }
        
        .form-register p {
          height: 40px;
          text-align: center;
          font-size: 12px;
          line-height: 40px;
        }
        
        .form-register a {
          color: rgb(247, 240, 240);
          text-decoration: none;
        }
        
        .form-register a:hover {
          color: rgb(124, 120, 120);
          text-decoration: underline;
        }
        label.registro1 {
            color: gray;
            font-size: 35px;
            
        }
        
        
      .form-register .botons {
          width: 100%;
          background: #eff0f1;
          border: 15px;
          border-radius: 15px;
          padding:15px;
          color: rgb(10, 8, 8);
          margin: 16px 0;
          font-size: 16px;
      }
    
    @media (min-width: 300px) {
      #codigob{
        width: 250px;
        height: 75px;
        
      }
    
    .controls {
      width: 100%;
      background: #f6f8fa;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid #f0f1f3;
      font-size: 10px;
      color:black;
    }
    label .registro1 {
      color:gray;
      font-size: 25px;
      
  }
  
  .form-register {
    
    width: 350px;
    background: #f18547d2;
    box-shadow: 7px 13px 37px rgb(99, 96, 96);
    margin-bottom: 50px;
    margin-right: 45px;
  
  }
  .form-register h4 {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    color: gray;}
  }
  