<footer class="d-flex flex-column flex-md-row justify-content-around py-5">
      <a class="text-white h6" href="/">Contacto </a>
      <a class="text-white h6" href="/">Acerca de nosotros</a>
      <a class="text-white h6" href="/">Politica de Privacidad</a>
</footer>