<header>
    <nav class="logo-and-search">
        <div class="img">
           <a href="/"> <img src="/images/SNIKERS.png" alt=""></a>
        </div>
        <label for="navmenu"><div class="icon-burger"><i class="fas fa-bars"></i></div></label>
        <div class="search-bar"><input type="text" name="" id="" placeholder="Search"><i class="fas fa-search"></i></div>
    </nav>
    <input type="checkbox" id="navmenu">
    <nav class="menu">
        <ul>
            <li><a href="/">Home<i class="fas fa-home"></i></i></a></li>
            <li><a href="/login">Login<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/register">Registro<i class="fas fa-user-plus"></i></a></li>
            <li><a href="/cart">Carrito<i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/admin">admin<i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
</header>