<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: "Admin"}) %> 
<body>
    <% include partials/header %> 
    <main class="admin">
        <h1>EDITAR PRODUCTOS</h1>
   <form action="">
    <div class="box-form">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control">
        
    </div>
    <div class="box-form">
        <label for="nombre">Descripcion</label>
        <textarea name="descripcion" id="" cols="30" rows="3" class="form-control"></textarea>
        <span class="text-danger small"></span>

    </div>
    <div class="box-form">
        <label for="precio">Precio</label>
        <input type="number" name="precio" id="precio" class="form-control" >
        <span class="text-danger small"></span>

    </div>
    <div class="box-form">
        <label for="imagen" class="btn btn-primary">Subir imagen</label>
        <input type="file" name="imagen" id="imagen" hidden accept="image/*">
    </div>
    <div class="box-form">
        <h4>Categoría</h4>
        <select name="categoria" id="categoria" class="form-select">
            <option value="" selected hidden>Seleccione la categoría</option>
             
        </select>
        <span class="text-danger small"></span>

    </div>

    <div class="box-button">
        <button type="submit">Guardar</button>
    </div>


    </main>
    <% include partials/footer %> 
</body>
</html>