<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: "CartEntrega"}) %> 
<body>
    <% include partials/header %> 
    <main class="entrega">
            <div class="aviso">
            <ul>
                <li>1-Carrito</li>
                <li class="entrega">2-Entrega</li>
                <li>3-Pago</li>
                <li>4-Pedido Completado</li>
                                         </ul>
                                            </div>

        <div><h4>INFORMACION DE ENTREGA</h4></div>
<section class="datos">
<article>
    <div>
        <strong>Brian Lopez</strong>
    </div>
</article>
<article>
<div>
   <p>French 2210</p>
</div>
</article>
<article>
    <div>
        <p>Moreno,01,1744,ar</p>
    </div>
</article>
<article>
    <p>1124519543</p>
</article>
<article>
    <div class="box-button">
        <button type="button">Modificar Email</button></div>
        <div>
        <button type="button">Eliminar Direccion</button>
    </div>
</article>
</section>
<div class="sub"><h3>LLEGADA ?</h3></div>
<div class="correo"><strong>ENVIO ZONA 1</strong>
    <span>GRATIS</span></div>
   <div class="sub"><p>OCA (hasta 50km)</p></div>
<div class="correo">
<strong>Correo electronico:</strong>
<span>brianrrhh93@gmail.com</span>
</div>
<div class="correo">
<label for="DNI">DNI</label>
<input type="number" name="DNI" id="DNI" placeholder="DNI (ej. 12345678)">
</div>
<div class="checkbox">
    <input type="checkbox" id="" name="checkbox">
    <label for="la informacion de facturacion y la entrega es la misma">La informacion de facturacion y entrega es la misma</label></div>
        <div class="checkbox1"><input type="checkbox" id="" name="checkbox">
    <label for="soy mayor de 18 años">Soy mayor de 18 años</label>
</div>
<div class="button1">
    <button type="submit"><a href="/cartPago">REVISAR Y PAGAR</a></button>
    </div>
    <div class="cajaFinal">
        <div class="pago">
            <h5>opciones de pago</h5>
            <img src="/images/img-cart/visa.png" alt="">
            <img src="/images/img-cart/master.png" alt="">
            <img src="/images/img-cart/american.png" alt="">
            </div>
    </div>
    </main>
    <% include partials/footer %> 
</body>
</html>