<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <title>CartFinal</title>
</head>
<body>
    <% include partials/header %> 
    <main class="terminado">
        <div class="aviso">
            <ul>
                <li>1-Carrito</li>
                <li>2-Entrega</li>
                <li>3-Pago</li>
                <li class="terminado">4-Pedido Completado</li>
                                         </ul>
                                            </div>
        <div class="exit">
            <img src="/images/img-cart/tildeVerde.jpg" alt="">
        </div>
        <div class="titulo"><h1>FELICITACIONES!!</h1></div>

        <div class="titulo"><p>Tu compra se realizo con exito</p></div>
    <div>
        <button type="submit"><a href="/">SEGUIR COMPRANDO</a></button>
        </div>
        <div class="pago">
            <h5>opciones de pago</h5>
            <img src="/images/img-cart/visa.png" alt="">
            <img src="/images/img-cart/master.png" alt="">
            <img src="/images/img-cart/american.png" alt="">
            </div>
            <div>



    </main>
    <% include partials/footer %> 
</body>
</html>