<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: "Cart"}) %> 
<body> 
    <%- include partials/header %> 
    <main class="cart">
        
            <div class="aviso">
                <ul>
                    <li class="carrito">1-Carrito</li>
                    <li>2-Entrega</li>
                    <li>3-Pago</li>
                    <li>4-Pedido Completado</li>
                                             </ul>
                                                </div>  

                                       
      <h1>TU CARRITO</h1>
<div class="posicion">
    <div class="imagen"><img src="/images/banco de imagenes/7.jpg" alt=""></div>
    <section class="resumen">
        <h6>RESUMEN DEL PEDIDO</h6>
    <article class="uno">
        <span>1 producto</span>
        <span>$10.000</span>
    </article>
    <article class="dos">
    <span>Entrega</span>
    <span>Gratis</span>
    </article>
    <article class="tres">
    <strong>Total (iva incluido $500)</strong>
    <strong>$10.000</strong>
    </article>
    </section>








</div>

<div class="button">
    <button type="submit"><a href="/cartEntrega">IR A PAGAR</a></button>
    </div>
    <div class="cajaFinal">
        <div class="pago">
            <h5>opciones de pago</h5>
            <img src="/images/img-cart/visa.png" alt="">
            <img src="/images/img-cart/master.png" alt="">
            <img src="/images/img-cart/american.png" alt="">
            </div>
    </div>

</main>
<% include partials/footer %> 
</body>
</html>