<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: "Login"}) %> 
<body class="login">
   <% include partials/header %> 
    <main>
        <div class="container">
            <div class="logo"><img src="/images/SNIKERS.png" alt=""></div>
            <div class="form">
                <h1>Login</h1>
                <form action="/users/login" method="POST">
                    <input type="email" name="correo" id="correo" placeholder="email">
                    <small></small>
                    <input type="password" name="password" id="password" placeholder="contraseña">
                    <small></small>

                        <input style="width:50px" type="checkbox" name="remember" id="remember">
                        <label class=text-center for="remember">Recordar</label>

                    <button class="mt-4" type="submit"><i class="fas fa-check"></i></button>
                    <p class="text-danger h5 text-center mt-2"><%= locals.errores && errores.correo ? errores.correo.msg : null%></p>
                </form>
            </div>
        </div>
    </main>
    <% include partials/footer%> 
</body>
</html>
</body>
</html>