<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: "Snikers-Producto"}) %>
<body class="producto">
    <% include ('./partials/header.ejs')%> 
    <main>
        <div class="container">
        <h1>Detalle de Producto</h1>
            <div class="imagen-producto">
                <div class="imagenes">
                    <div class="img-principal">
                        <img src="/images/zapatilla1.webp" alt="">             
                    </div>
                    <div class="imagenes-sec">
                        <div class="imagen-small">
                            <img src="/images/zapatilla2.JPG " alt="">
                        </div>
                        <div class="imagen-small">
                            <img src="/images/zapatilla3.webp" alt="">

                        </div>
                        <div class="imagen-small">
                            <img src="/images/zapatilla4.jpg" alt="">

                        </div>
                    </div>
                </div>
                <div class="descripcion">
                    <div class="principal">
                        <h3>(Nombre del Producto)</h3>
                    <div class="texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium culpa repudiandae reiciendis distinctio similique dolore! Consequuntur accusamus vitae deserunt facere provident fuga quae, expedita itaque natus quaerat nisi dolorum ea praesentium odit voluptatum hic mollitia illum. Id, molestias. Rem, quis.
                    </div>
                    <div class="icons">
                        <div class="icono"><i class="fas fa-cart-plus"></i></div>
                     </div>
                    </div>
                </div>
            </div>
            <div class="others">
                <h2>Productos Similares</h2>
                <div class="muestras">
                    <div class="muestra">
                        <div class="img"><img src="/images/zapatilla1.webp" alt=""></div>
                        <div class="descr">
                            <h4>(Nombre de Producto)</h4>
                            <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt odio voluptatem rerum eligendi facere fuga saepe animi?</div>
                        </div>
                    </div>
                    <div class="muestra">
                        <div class="img"><img src="/images/zapatilla1.webp" alt=""></div>
                        <div class="descr">
                            <h4>(Nombre de Producto)</h4>
                            <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt odio voluptatem rerum eligendi facere fuga saepe animi?</div>
                        </div>
                    </div>
                    <div class="muestra">
                        <div class="img"><img src="/images/zapatilla1.webp" alt=""></div>
                        <div class="descr">
                            <h4>(Nombre de Producto)</h4>
                            <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt odio voluptatem rerum eligendi facere fuga saepe animi?</div>
                        </div>
                    </div>
                    <div class="muestra">
                        <div class="img"><img src="/images/zapatilla1.webp" alt=""></div>
                        <div class="descr">
                            <h4>(Nombre de Producto)</h4>
                            <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt odio voluptatem rerum eligendi facere fuga saepe animi?</div>
                        </div>
                    </div>
                    <div class="muestra">
                        <div class="img"><img src="/images/zapatilla1.webp" alt=""></div>
                        <div class="descr">
                            <h4>(Nombre de Producto)</h4>
                            <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt odio voluptatem rerum eligendi facere fuga saepe animi?</div>
                        </div>
                    </div>
                    <div class="muestra">
                        <div class="img"><img src="/images/zapatilla1.webp" alt=""></div>
                        <div class="descr">
                            <h4>(Nombre de Producto)</h4>
                            <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt odio voluptatem rerum eligendi facere fuga saepe animi?</div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </main>
   <% include ('./partials/footer.ejs') %> 
</body>
</html>