<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{title: "register"}) %> 

<body class="registro">
    <% include partials/header %> 
    <section class="form-register">
        <img id="codigob"src="/images/barra1.png">
        <h4> REGISTRO</h4>
        <form action="" method="POST">
            <div class="row">
                <div class="col-12 col-md-6">
                    <input class="controls" type="text" name="nombre" id="nombres" placeholder="Ingrese su Nombre">
                </div>
                <div class="col-12 col-md-6">
                    <input class="controls" type="text" name="apellido" id="apellidos" placeholder="Ingrese su Apellido">
                </div>
                <div class="col-12">
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
                </div>
                <div class="col-12 col-md-6">
                   <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
                </div>
                <div class="col-12 col-md-6">
                   <input class="controls" type="password" name="password2" id="password2" placeholder="Confirme su Contraseña">
                </div>
            </div>
        <input type="checkbox" name="terminos" id="terminos"> <a href="#">Terminos y Condiciones</a>
        <input class="botons" type="submit" value="REGISTRATE">
        <p><a href="/users/login">¿Ya tengo Cuenta?</a></p>
    </form>
      </section>
     
      <% include partials/footer %> 

</body>
</html>