<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <title>CartPago</title>
</head>
<body>
    <header>
        <nav class="logo-and-search">
            <div class="img">
               <a href="/"> <img src="/images/SNIKERS.png" alt=""></a>
            </div>
            <label for="navmenu"><div class="icon-burger"><i class="fas fa-bars"></i></div></label>
            <div class="search-bar"><input type="text" name="" id="" placeholder="Search"><i class="fas fa-search"></i></div>
        </nav>
        <input type="checkbox" id="navmenu">
        <nav class="menu">
            <ul>
                <li><a href="/">Home<i class="fas fa-home"></i></i></a></li>
                <li><a href="/login">Login<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/register">Registro<i class="fas fa-user-plus"></i></a></li>
                <li><a href="/cart">Carrito<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
        <main class="pago">
            <div class="aviso">
                <ul>
                    <li>1-Carrito</li>
                    <li>2-Entrega</li>
                    <li class="pago">3-Pago</li>
                    <li>4-Pedido Completado</li>
                                             </ul>
                                                </div>
<div><h1>METODO DE PAGO</h1>
</div>
<section class="form-pago">
    <article>
        <div class="cuotas">
            <P>Todas las transacciones se realizan de manera segura.</P>
            <h5>Cantidad de cuotas</h5>
            <form class="form">
            <select name="cuotas" id="cuotas">
                <option value="" selected hidden>seleccione su opcion</option>
                <option value="1">X1</option>
                <option value="3">X3</option>
                <option value="6">X6</option>
                <option value="12">X12</option>
                <option value="18">X18</option>
            </select>
        </div>
            <div class="lbl-numero">
                <h5>Numero</h5>
<input type="number" required>
<label>
</label>
</div>
<div class="lbl-numero">
    <h5>titular de la tarjeta</h5>
    <input type="text" required>
    <label>

    </label>
    </div>
    <div class="lbl-numero">
        <h5>Fecha de vencimiento</h5>
        <input type="date" required>
        <label>
        </label>
        </div>
        <div class="lbl-numero">
            <h5>Codigo de vencimiento</h5>
            <input type="number" required>
            <label>
        
            </label>
            </div>


    </article>




</section>
    <div>
        <button type="submit"><a href="/cartFinal">Finalizar Compra</a></button>
        </div>
    <div>
        <p>Al hacer click en FINALIZAR COMPRA acepta los terminos y condiciones.</p>
    </div>


    <div class="pago">
        <h4>opciones de pago</h4>
        <img src="/images/visa.png" alt="">
        <img src="/images/master.png" alt="">
        <img src="/images/american.png" alt="">
        </div>



    </main>

    <footer>
        <div class="redes">
        <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
           </div>
           <div class="texto">
        <p>Argentina <br> </p>
           <p>Todos los Derechos Reservados</p>
           <p>Politica de Privacidad</p>
       </div>
    </footer>
</body>
</html>