<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CartEntrega</title>
</head>
<body>
    <main>
        <div><h1>INFORMACION DE ENTREGA</h1></div>
<section>
<article>
    <div>
        <strong>brian lopez</strong>
    </div>
</article>
<article>
<div>
   <p>french 2210</p>
</div>
</article>
<article>
    <div>
        <p>moreno,01,1744,ar</p>
    </div>
</article>
<article>
    <p>1124519543</p>
</article>
<article>
    <div>
        <button type="button">modificar email</button>
    </div>
    <div>
        <button type="button">eliminar direccion</button>
    </div>
</article>
</section>
<div><h4>LLEGADA ?</h4></div>
<div><strong>ENVIO ZONA 1</strong>
<span>GRATIS</strong></span>
<div><p>OCA (hasta 50km)</p></div>
<div>
<strong>correo electronico:</strong>
<span>brianrrhh93@gmail.com</span>
</div>
<div>
<label for="DNI">DNI</label>
<input type="text" name="DNI" id="DNI" placeholder="DNI (ej. 12345678)">
</div>
<div>
    <input type="checkbox" id="" name="checkbox">
    <label for="la informacion de facturacion y la entrega es la misma">la informacion de facturacion y entrega es la misma</label>
    <input type="checkbox" id="" name="checkbox">
    <label for="soy mayor de 18 años">soy mayor de 18 años</label>
</div>
<div>
    <button type="submit"><a href="/cartPago">Revisar y Pagar</a></button>
    </div>
    <div class="pago">
        <h4>opciones de pago</h4>
        <img src="/images/images.png" alt="">
        <img src="/images/descarga (1).png" alt="">
        <img src="/images/descarga (3).png" alt="">
        </div>












    </main>
    
</body>
</html>