<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CartPago</title>
</head>
<body>
    <main>
<div><h1>METODO DE PAGO</h1>
</div>
    <div>
        <P>todas las transacciones se realizan de manera segura</P>
        <select name="cuotas" id="cuotas">
            <option value="" selected hidden>Cantidad de Cuotas</option>
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="18">18</option>
        </select>
    </div>
<div>
    <input type="number" name="numero" id="numero" placeholder="numero">
<label for="numero">numero</label>
</div>
<div>
    <img src="/images/images.png" alt="">
        <img src="/images/descarga (1).png" alt="">
        <img src="/images/descarga (3).png" alt="">
</div>
<div>
    <input type="text" name="titular de la tarjeta" id="titular de la tarjeta" placeholder="titular de la tarjeta">
    <label for="titular de la tarjeta">titular de la tarjeta</label>
</div>
<div>
    <h6>Fecha de vencimiento</h6>
    <input type="date" name="fecha" >
    <small>fecha de caducidad de la tarjeta</small>
<H6>codigo de vencimiento</H6>
    <input type="date" name="cv">
<small>ingrese el codigo de seguridad de su tarjeta</small>
</div>
<div>
    <button type="submit"><a href="/cartTerminado">Finalizar Compra</a></button>
    </div>
    <div>
        <p>Al hacer click en FINALIZAR COMPRA acepta los terminos y condiciones.</p>
    </div>





    </main>
</body>
</html>