<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Snikers-Producto</title>
</head>
<body class="producto">
    <header>
        <nav class="logo-and-search">
            <div class="img">
               <a href="/"> <img src="/images/SNIKERS.png" alt=""></a>
            </div>
            <label for="navmenu"><div class="icon-burger"><i class="fas fa-bars"></i></div></label>
            <div class="search-bar"><input type="text" name="" id="" placeholder="Search"><i class="fas fa-search"></i></div>
        </nav>
        <input type="checkbox" id="navmenu">
        <nav class="menu">
            <ul>
                <li><a href="/">Home<i class="fas fa-home"></i></i></a></li>
                <li><a href="/login">Login<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/register">Registro<i class="fas fa-user-plus"></i></a></li>
                <li><a href="/cart">Carrito<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Detalle de Producto</h3>
        <div class="producto">
            <div class="imagen-producto"></div>
        </div>
    </main>
    <footer>
        <div class="redes">
        <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
           </div>
           <div class="texto">
        <p>argentina <br> </p>
           <p>Todos los Derechos Reservados</p>
           <p>Politica de Privacidad</p>
       </div>
    </footer>
</body>
</html>