<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/cart.css">
    <title>cart</title>
</head>
<body> 
    <header>
        <nav class="logo-and-search">
            <div class="img">
               <a href="/"> <img src="/images/SNIKERS.png" alt=""></a>
            </div>
            <label for="navmenu"><div class="icon-burger"><i class="fas fa-bars"></i></div></label>
            <div class="search-bar"><input type="text" name="" id="" placeholder="Search"><i class="fas fa-search"></i></div>
        </nav>
        <input type="checkbox" id="navmenu">
        <nav class="menu">
            <ul>
                <li><a href="/">Home<i class="fas fa-home"></i></i></a></li>
                <li><a href="/login">Login<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/register">Registro<i class="fas fa-user-plus"></i></a></li>
                <li><a href="/cart">Carrito<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="cart">
        <div class="aviso">
            <ul>
                <li>1-Carrito</li>
                <li>2-Entrega</li>
                <li>3-Pago</li>
                <li>4-Pedido Completado</li>
                                         </ul>
                                            </div>
      <div><h2>HOLA BRIAN</h2> </div>                                    
      <div><h2>Tu Carrito</h2></div>
<section>
<article>
<img src="/images/nike.jpg" alt="">
</article>
</section>
<h5>RESUMEN DEL PEDIDO</h5>
<section class="resumen">
<article class="uno">
    <span>1 producto</span>
    <span>$10.000</span>
</article>
<article class="dos">
<span>entrega</span>
<span>gratis</span>
</article>
<article class="tres">
<strong>total (iva incluido $500)</strong>
<strong>$10.000</strong>
</article>
</section>
<div class="button">
    <button type="submit"><a href="/cartEntrega">Ir a Pagar</a></button>
    </div>
<div class="pago">
<h4>opciones de pago</h4>
<img src="/images/images.png" alt="">
<img src="/images/descarga (1).png" alt="">
<img src="/images/descarga (3).png" alt="">
</div>
<div>
</main>
<footer>
    <div class="redes">
    <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
    <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
    <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
       </div>
       <div class="texto">
    <p>argentina <br> </p>
       <p>Todos los Derechos Reservados</p>
       <p>Politica de Privacidad</p>
   </div>
</footer>

</body>
</html>