<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <main>
        <div>
            <ul>
                <li>Carrito</li>
                <li>Entrega</li>
                <li>Pago</li>
                <li>Pedido Completado</li>
                                         </ul>
                                            </div>
    <h1>Tu Carrito</h1>
<section>
<article>
<img src="" alt="">
</article>
<article>
<div>
<button type="submit"><a href="Ir a Pagar">Ir a Pagar</a></button>
</div>


</article>



</section>



</main>
</body>
</html>