<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CartTerminado</title>
</head>
<body>
    <main>
        <div>
            <img src="/images/tildeVerde.jpg" alt="">
        </div>
        <div><h1>FELICITACIONES</h1></div>

        <div><p>tu compra se realizo con exito</p></div>
    <div>
        <button type="submit"><a href="/">Seguir Comprando</a></button>
        </div>



    </main>
</body>
</html>