

main.admin form {
background-color:#ebebeb ;
text-align: center;

}

main.admin div.caja1{
    display: flex;
    justify-content: space-around;
}

main.admin h1 {
    text-align: center;
    margin-top: 30px;
}

main.admin form div.box-form{
 margin: 20px;

}

main.admin form button{
    margin: 50px 0;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
}

main.admin form label.btn-primary{
    background-color: black;
   
}


@media (min-width:768px){
    main.admin form button{
        margin: 50px 0;
        background-color: black;
        color: white;
        width: 100%;
        padding: 10px;

    
}


main.admin h1 {
    text-align: center;
    margin-top: 80px;
}
}
