




.index .imagen1,  .index .imagen2{
    width: 100%; 
    
    
    
}

.index .imagen1{
    display: none;
}


.index .unico{
    display: flex;
    /*display: flex;*/
    flex-direction:column;
    width: 100%;
    /*heigth:0%*/
    
    justify-content:space-evenly;
    /*justify-content:space-evenly;*/
    align-self: center;
}

.index .unico section{
    display: flex;
    flex-direction: column;
    /* width: 100%;*/
    width: 100%;
    align-self: center;
}

.index .unico .articulos{
    flex-direction: row;
    justify-content: center;
    padding: 0 15px;
    margin: 20px auto;
    background-color: white;
    text-transform: uppercase;
    width: 90%;
}

.index .unico section p{
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 10px 0;
    
}
.index hr .ofertas, hr:not([size]){
    width: 100px;
    height: 2px;
    text-align: center;
    margin: auto;
    margin-top: 0;
    background-color:white;
}

.index hr .destacados, hr:not([size]){
    width: 100px;
    height: 2px;
    text-align: center;
    margin: auto;
    margin-top: 0;
    background-color:white;
}

.index .unico section article{
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 0;
    width: 100%;
    border-bottom: none;
    margin-bottom: 20px;
    margin-left: 0%;
    margin-top: 20px;
}

.index .unico .art2, .index .unico .art3, .index .unico .art4{
    display: none;
}
.index .unico .art5{
    display: none;
}

.index .unico section article img{
    width: 80%;
    padding: 0;
    align-self: center;
    margin-top: 20px;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}

.unico section article .datos{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 0px;
    align-self: center;
}

.unico section article h4{
    font-size: 14px;
    margin-bottom: 0; 
}

.datos .caja1{
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}
.index .unico section article .datos .caja1 p{
    color: black;
    text-align: left;
    font-size: 15px;
    margin: 0;
}



.index .unico section article .heart{
    display: inline-block;
    padding-top: 0px;
}
.index .unico section article span{
    font-size: 12px;
    color: #ac0606;
    text-align: right;  
    font-size: 11px;
    display: none;
}


.index .unico section article .caja2{
    display: flex;
    justify-content: space-between;
    order: -1;
    border-bottom: solid 1px rgb(167, 165, 165);
}

.index .marcas{
    display: flex;
   
    margin: 50px 0 35px;
}
.index .marcas .imagenes{
    display: flex;
    flex-direction: column;   
}
.index .marcas img{
    width: 100%;
    align-self: center;
    padding: 12px 0;
   
}

.index {
    background-color:#0083BA;
    /*height: 0*/
    height: auto;
}






@media (min-width: 426px){

    .index .imagen1{
        display: block;
        border-bottom: solid 1px rgb(167, 165, 165);
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    .index .imagen2{
        display: none;
    }
     .index .unico{
        padding: 0 20px;
        /*margin: 0*/
        margin: 60px 0 35px;
       
    }
    
    
    
     .index .datos .caja1{
        order: 1;  
    }




    .index .unico .art2, .index .unico .art3{
        display: flex;
    }
    
    .index .unico .art5{
        display: flex;
    }
    .index .unico section article span{
        order: 1;
    }
    .index .unico section p {
        font-size: 22px;
    }
    .index .marcas .imagenes{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .index .marcas img{
        width: 48%;
        padding: 14px 0;
        /*margin-top:0*/
       
        /* padding: 14px 0;*/
        

    } 
    
   
    
    
}   

@media (min-width: 768px){

    
     .index .datos .caja1{
        order: 0;
    }
    

    .index .unico section p {
        font-size: 25px;    
    }
    .index .unico .art4{
        display: flex;
    }
    .index .unico .art5{
        display: none;
    }
    
    .index .carrusel-destacado{
        margin-top: 40px;
    }
    .index .carrusel-Ofertas{
        margin-top: 40px;
    }
    .index .marcas .imagenes{
    flex-wrap:initial; 
    
    
    }
    .index .marcas img{
        width: 23%;
    }
    

}
    
@media (min-width: 1025px){

   
    .index .carrusel-final{
        width: 100%;
       
    }

    .index .unico .articulos{
      
        height: 350px;
    }
}