.producto{
    z-index: -1;
    background-color: var(--color-gris);
}

.productDetail .item-carousel{
    transition: all .5s ease;
}

.productDetail .item-carousel:hover{
    transform: scale(1.05) ;
    -webkit-transform: scale(1.05) ;
    -moz-transform: scale(1.05) ;
}

.producto main{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 20px;  /*margin: 60px auto 20px;*/ 
   /*  border: 2px solid var(--color-negro); */
    width: 95%;
    height: 95.8%;
    font-family: var(--font-family);
}

.producto main h1{
    align-self: flex-start;
    display: block;
    margin: 0px auto;
}

.producto .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* background-color: white; */
}


.producto .container .imagen-producto{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: violet; */
    height: 50%;
}


.producto .container .imagen-producto .imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    height: 100%;
    /* background-color: yellow; */
}

.producto .container .imagen-producto .imagenes .img-principal{
    width: 100%;
    height: 70%;
    /* background-color: rebeccapurple; */
}

.producto .container .imagen-producto .imagenes .img-principal img{
    border: transparent 1px solid;
    border-radius: 75%;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.producto .container .imagen-producto .imagenes .imagenes-sec{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    margin-top: 25px;
    /* background-color: red; */

}
.producto .container .imagen-producto .imagenes .imagenes-sec .imagen-small{
    width: 33%;
    height: 100%;
    /* background-color: tomato; */
    /* border: black 1px solid; */
    padding: 5px;
}

.producto .container .imagen-producto .imagenes .imagenes-sec .imagen-small:last-child{
    width: 34%;
}


.producto .container .imagen-producto .imagenes .imagenes-sec .imagen-small img{
    border: transparent 1px solid;
    border-radius: 75%;
    width: 100%;
    height: 100%;
}


.producto .container .imagen-producto .descripcion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
}


.producto .container .imagen-producto .descripcion .principal{
    width: 90%;
    height: 100%;
   /*  background-color: teal; */
}

.producto .container .imagen-producto .descripcion .principal h3{
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.producto .container .imagen-producto .descripcion .principal .texto{
    width: 100%;
    height: 33%;
    text-align: justify;
    overflow: hidden ;
    font-size: 14px;
    margin: 10px auto;
    overflow-y: scroll;
}

.producto .container .imagen-producto .descripcion .icons{
    display: flex;
    align-content: center;
    width: 100%;
    height: 34%;
   /*  background-color: thistle; */
    justify-content: center;
}

.producto .container .imagen-producto .descripcion .icons .icono{
height: 33%;
align-self: center;
justify-content: center;
align-items: center;
margin: 15px;
}

.producto .container .imagen-producto .descripcion .icons .icono i{
font-size: 60px;
color: var(--color-azul);
}

.producto .container .others{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
   /*  background-color: yellowgreen; */
    height: 45%;
    margin: 0px;
}

.producto main .container .others h2{
    display: block;
    width: 100%;
    margin-top: 10px;
}

.producto main .container .others .muestras{
    width: 100%;
    height: 80%;
    /* background-color: pink; */
}
.producto main .container .others .muestras .muestra{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   /*  color: orange; */
    margin-bottom: 20px;
}

.producto main .container .others .muestras .muestra .img{
    width: 60%;
    height: 100%;
    /* background-color: beige; */
    border: transparent 1px solid;
    border-radius: 50%;
}

.producto main .container .others .muestras .muestra .img img{
    width: 100%;
    height: 100%;
    border: transparent 1px solid;
    border-radius: 100%;
}

.producto main .container .others .muestras .muestra .descr{
    width: 40%;
    height: 100%;
    /* background-color: black; */
}


.producto main .container .others .muestras .muestra .descr h4{
    height: 50%;
width: 100%;
display: block;
text-align: center;
font-size: 20px;
}


@media (min-width: 768px) {

    .producto main{
        margin-top: 55px;
    }

    .producto main .container h1{
        margin: 30px;
        border-bottom: 2px solid black;
    }

    .producto main .container .imagen-producto .descripcion .principal h3{
        border-bottom: solid 2px black;
        margin-bottom: 50px;
    }

    .producto main .container .imagen-producto .descripcion .principal .texto{
        font-size: 1.2rem;
    }

    .producto main .container .imagen-producto .descripcion .producto .icons .icono{
        margin: 40px;
    }

    .producto .container .imagen-producto .descripcion .icons .icono i{
        font-size: 90px;
    }

    .producto .container .imagen-producto .descripcion .icons .icono i:hover{
        color: var(--color-naranja);
    }

    .producto main .container .others h2{
        margin: 40px;
        border-bottom: solid black 1px;
        width: auto;
    }

    .producto main .container .others .muestras{
        display: flex;
        flex-wrap: wrap;
    }

    .producto main .container .others .muestras .muestra{
        width: 50%;
        margin-bottom: 70px;
    }
}