@import url('general.css');
@import url('header.css');
@import url('footer.css');
@import url('index.css');
@import url('login.css');
@import url('register.css');
@import url('product.css');
@import url('cart.css');
@import url('cartEntrega.css');
@import url('cartPago.css');
@import url('cartFinal.css');
@import url('admin.css');


