<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer>
        <div class="redes">
        <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
           </div>
           <div class="texto">
        <p>argentina <br> </p>
           <p>Todos los Derechos Reservados</p>
           <p>Politica de Privacidad</p>
       </div>
    </footer>
</body>
</html>