<header>
    <nav class="menu">
        <ul>
            <li><a href="/">Home <i class="fas fa-home"></i></a></li>
            <li><a href="/admin">Admin <i class="fas fa-users-cog"></i></a></li>
            <li><a href="/products/add">Agregar producto <i class="fas fa-upload"></i></a></li>
        </ul>
    </nav>
</header>